// status and tile badges
// should just be slight color variations of the same default bootstrap badge.
.badge-lg {
  font-size: 1em;
}
.badge-status {
  border-radius: 10px;
  color: var(--default-font-color);
  font-size: 16px;
  font-weight: 600;

  &.badge-success,
  &.badge-green {
    background-color: var(--success-status-tint);
    border: 1px solid var(--success-color);
  }

  &.badge-danger,
  &.badge-red {
    background-color: var(--danger-status-tint);
    border: 1px solid var(--enrollment-status-red);
  }

  &.badge-warning,
  &.badge-yellow {
    background-color: var(--warning-status-tint);
    border: 1px solid var(--warning-border);
  }

  &.badge-info,
  &.badge-blue {
    background-color: var(--info-tint);
    border: 1px solid var(--info-color);
  }

  &.badge-absent,
  &.badge-grey {
    background-color: var(--grey-040);
    border: 1px solid var(--grey-160);
  }
}

.badge-current-plan {
  background-color: var(--badge-current-bg);
  border: 1px solid var(--badge-current-border);
  padding: 1px 8px;
}

.badge-standard {
  background-color: var(--badge-standard-bg);
  border: 1px solid var(--badge-standard-border);
}

.badge-platinum {
  font-weight: 400;
  background-color: var(--platinum-bg);
  border: 1px solid var(--platinum-border);
}

.badge-gold {
  font-weight: 400;
  background-color: var(--gold-bg);
  border: 1px solid var(--gold-border);
}

.badge-silver {
  font-weight: 400;
  background-color: var(--silver-bg);
  border: 1px solid var(--silver-border);
}

.badge-bronze {
  font-weight: 400;
  background-color: var(--bronze-bg);
  border: 1px solid var(--bronze-border);
}

.badge-catastrophic {
  font-weight: 400;
  background-color: var(--error-tint);
  border: 1px solid var(--error-shade);
}

.badge-current-application {
  border-radius: 24px;
  color: var(--default-font-color);
  font-size: 12px;
  font-weight: 600;
  background-color: var(--success-status-tint);
  border: 1px solid var(--complete-color);
}

.badge-icon {
  width: 1em;
  height: 1em;
  color: transparent !important;
  margin-right: 0.25em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1em;
  height: 1em;
  color: transparent !important;
  margin-right: 0.25em;
}

.badge-success-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23027314%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.7426%205.01197C12.0673%205.31165%2012.0875%205.81778%2011.7878%206.14243L7.35708%2010.9424C7.20563%2011.1065%206.99251%2011.1998%206.76923%2011.1998C6.54596%2011.1998%206.33284%2011.1065%206.18139%2010.9424L4.21216%208.8091C3.91248%208.48444%203.93272%207.97832%204.25738%207.67863C4.58204%207.37895%205.08816%207.39919%205.38785%207.72385L6.76923%209.22036L10.6122%205.05718C10.9118%204.73253%2011.418%204.71228%2011.7426%205.01197Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
}

.badge-danger-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M5.88505%201.30761C6.75646%20-0.435871%209.24354%20-0.435869%2010.1149%201.30761L15.7473%2012.5766C16.5334%2014.1495%2015.3902%2016%2013.6324%2016H2.36764C0.609847%2016%20-0.533421%2014.1495%200.252687%2012.5766L5.88505%201.30761Z%22%20fill%3D%22%23A21E1F%22%2F%3E%3Cpath%20d%3D%22M8.67227%2010.5476H7.33789L7.05898%205.20459H8.95117L8.67227%2010.5476ZM7.03711%2012.4179C7.03711%2012.1116%207.11914%2011.8801%207.2832%2011.7233C7.44727%2011.5666%207.68607%2011.4882%207.99961%2011.4882C8.30221%2011.4882%208.53555%2011.5684%208.69961%2011.7288C8.86732%2011.8892%208.95117%2012.1189%208.95117%2012.4179C8.95117%2012.7059%208.86732%2012.9338%208.69961%2013.1015C8.5319%2013.2655%208.29857%2013.3476%207.99961%2013.3476C7.69336%2013.3476%207.45638%2013.2674%207.28867%2013.1069C7.12096%2012.9429%207.03711%2012.7132%207.03711%2012.4179Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
}
